.Modal {
    z-index: 9999;
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 700px;
    min-height: 300px;
    padding: 15px;
    border-radius: 10px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #fff;
    max-height: 100vh; /*for scrolling*/
    overflow-y: auto; /*for scrolling*/
}

.Overlay {
    z-index: 9998;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.3);
}

[hidden] {
    display: none !important;
}

h1, label {
    margin-left: 10px;
}

.bookPanel {
    display: flex;
    flex-wrap: wrap;
}

.book {
    width: 250px;
    height: 480px;
    border: 2px solid black;
    border-radius: 20px;
    margin: 20px;
    padding: 10px;
    position:relative;
    box-shadow: 10px 10px 24px -14px #000000;
}

.not_available {
    filter: grayscale(1) opacity(0.7);
}

.book_buttons_box {
    position:absolute;
    bottom:15px;
}

.book_buttons {
    display:inline-block;
    margin: 10px;
}

.book_buttons_chosen {
    display:inline-block;
    margin: 10px;
    background-color: orange;
}

.book_img {
    height: 210px;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.book_img_large {
    height: 400px;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.book_text {
    margin-left: 10px;
}

.authors {
    margin-top: 10px;
    font-size: medium;
    font-family: cursive;
}

.title {
    font-size: large;
}

.price {
    font-size: medium;
    font-family: cursive;
}

.links {
    margin-left: 10px;
    margin-top: 10px;
}

.cover, .content {
    margin-left: 10px;
}

.table {
    margin-left: 20px;
    margin-right: 20px;
}

.table_container {
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.goodMsg {
    color: green;
}
.badMsg {
    color: red;
}

.content-box {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
}

.content-item {
    margin-right: 10px;
}

.counter_img {
    height: 15px;
}

.delete_img {
    height: 15px;
}

button {
    margin-right: 10px;
}

.auth_block {
    float: right;
    margin-right: 10px;
}

.message {
    margin-left: 10px;
    font-size: medium;
    font-family: cursive;
}

.username {
    margin-top: 10px;
    font-size: medium;
    font-family: cursive;
}

.left {
    float: left;
}

.right {
    float: right;
}

.submit_login {
    margin-left: 10px;
}